<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Vue Boolzapp</title>
</head>

<body>
    <div id="app">
        <div class="container h-100">
            <div class="row h-100 flex-nowrap">
                <div class="col-12 col-md-4">
                    <div class="h-100 flex-column flex-nowrap">
                        <div class="col-12 bg-bar d-flex align-items-center
                        justify-content-between">
                            <div>
                                <img class="p-2 rounded-circle" src="img/avatar_io.jpg" alt="Sofia">
                                <span>Sofia</span>
                            </div>
                            <div>
                                <span class="p-3"><i class="fa-solid fa-circle-notch"></i></span>
                                <span class="p-3"><i class="fa-solid fa-message"></i></span>
                                <span class="p-3"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                            </div>
                        </div>
                        <div class=" col-12 bg-notification">
                            <div>
                                <span class="bg-circle"><i class="fa-regular fa-bell-slash mt-4"></i></span>
                                <span>Ricevi notifiche di nuovi messaggi</span>
                                <div class="font-size"><a href="">Attiva notifiche desktop</a></div>

                            </div>
                        </div>
                        <div class="col-12 bg-white">
                            <div class="input-group">
                                <span class="input-group-text my-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="text" class="form-control bg-search my-2"
                                    placeholder="Cerca o inizia una nuova chat" v-model="searchText">
                            </div>
                        </div>

                        <ul class="list-group bg-white ">
                            <li v-for="(contact, index) in contactsFilter" :key="contact.id" @click ="selectContact(contact.id)">

                                <img class="rounded-circle" :src="contact.avatar" :alt="contact.avatar">
                                {{contact.name}} {{contact.messages.last}}
                                <div class="d-flex justify-content-between ">
                                    <span class="font-size-msg">{{contact.messages[ contact.messages.length - 1
                                        ].message}} </span>
                                    <span class="font-size-msg">{{contact.messages[ contact.messages.length - 1
                                        ].date}}</span>
                                </div>
                            </li>
                        </dul>

                    </div>
                </div>
                <div class="col-12 col-md-8 background-img ">
                    <div class="row h-100 flex-column flex-nowrap">
                        <div class="col-12 bg-bar d-flex  align-items-center justify-content-between">
                            <div class="d-flex">

                                <img :src="contacts[activeContactIndex].avatar" :alt="contacts[activeContactIndex].name">

                                <div >
                                    <span>{{contacts[activeContactIndex].name}}</span>
                                    <span></span>
                                </div>
                            </div>
                       
                            <div>
                                <i class="fa-solid fa-magnifying-glass m-2"></i>
                                <i class="fa-solid fa-paperclip m-2"></i>
                                <i class="fa-solid fa-ellipsis-vertical m-2"></i>
                            </div>
                        </div>
                        <div class="h1 col-12 flex-grow-1 overflow-y-auto">
                            <div class="d-flex py-3" v-for ="(msg,index) in contacts [activeContactIndex].messages" :key="index">
                                <div class="msg">{{msg.message}}</div>
                            </div>
                            <!--<div class="d-flex py-3">
                                <div class="text-received">Ciao, bene grazie</div>
                            </div>-->

                        </div>
                        <div class="bg-bar d-flex align-items-center justify-content-around">
                            <span><i class="fa-regular fa-face-smile font-size-icons ms-4 "></i></span>
                            <input type="text" class="form-control w-75 mx-5 bg-search  my-2"
                                placeholder="Scrivi un messaggio" v-model="text" @keyup.enter="addText()"> 
                            <span><i class="fa-solid fa-share font-size-icons me-4 pointer " @click="addText()"></i></span>


                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="Javascript/script.js"></script>
</body>

</html>
{{}}